@{
    var objSlider = ViewBag.Slider as List<SimaxCrm.Model.Entity.Slider>;
}
<!-- ======= Intro Section ======= -->

<div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">
        @foreach (var item in @objSlider)
        {
            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(/@item.ImagePath)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="swiper-pagination"></div>
</div><!-- End Intro Section -->
