
<!-- ======= Intro Section ======= -->

<div class="intro position-relative" >
    <div class="banner-image">
        <img src="/images/banner.svg" ></img>
        <img src="/images/over_banner.svg" ></img>
    </div>
    <div class="container property-type-list">
        <div class="row">
            <div class="property-type col-3">
                <a class="" asp-controller="Home" asp-action="Property" asp-route-id="Buy">Buy</a>
            </div>
            <div class="property-type col-3">
                <a class="" asp-controller="Home" asp-action="Property" asp-route-id="Rent">Rent</a>
            </div>
            <div class="property-type col-3">
                <a class="" asp-controller="Home" asp-action="Property" asp-route-id="Agent">Agent Valuation</a>
            </div>
            <div class="property-type col-3">
                <a class="" asp-controller="Home" asp-action="Property" asp-route-id="Tool">Innovative Tools For Pros</a>
            </div>
        </div>
    </div>
    <div class="search">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="buy-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="buy" aria-selected="true">Buy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="rent-tab" data-bs-toggle="tab" data-bs-target="#rent" role="tab" aria-controls="rent" aria-selected="false">Rent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="agent-tab" data-bs-toggle="tab" data-bs-target="#agent" role="tab" aria-controls="agent" aria-selected="false">Agent Valuation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tool-tab" data-bs-toggle="tab" data-bs-target="#tool" role="tab" aria-controls="tool" aria-selected="false">Innovative Tools For Pros</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                <div class="row">
                    <div class="search-fields row">
                        <div class="col-6 location-field">
                            <select class="select-location">
                                <option value="">Search Location</option>
                            </select>
                            <div class="add-location">
                                <svg width="7" height="7" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 0.75C5.65747 0.75 5.8085 0.812556 5.91985 0.923905C6.03119 1.03526 6.09375 1.18628 6.09375 1.34375V4.90625H9.65625C9.81372 4.90625 9.96475 4.96881 10.0761 5.08016C10.1874 5.1915 10.25 5.34253 10.25 5.5C10.25 5.65747 10.1874 5.8085 10.0761 5.91985C9.96475 6.03119 9.81372 6.09375 9.65625 6.09375H6.09375V9.65625C6.09375 9.81372 6.03119 9.96475 5.91985 10.0761C5.8085 10.1874 5.65747 10.25 5.5 10.25C5.34253 10.25 5.1915 10.1874 5.08016 10.0761C4.96881 9.96475 4.90625 9.81372 4.90625 9.65625V6.09375H1.34375C1.18628 6.09375 1.03526 6.03119 0.923905 5.91985C0.812556 5.8085 0.75 5.65747 0.75 5.5C0.75 5.34253 0.812556 5.1915 0.923905 5.08016C1.03526 4.96881 1.18628 4.90625 1.34375 4.90625H4.90625V1.34375C4.90625 1.18628 4.96881 1.03526 5.08016 0.923905C5.1915 0.812556 5.34253 0.75 5.5 0.75Z" fill="#FF006B"/>
                                </svg>
                            </div>
                        </div>
                        <div class="col-6 product-field">
                            <select class="select-product">
                                <option value="">Search Product</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-search">Search</button>
                </div>
            </div>
            <div class="tab-pane fade" id="rent" role="tabpanel" aria-labelledby="rent-tab">
                <div class="row">
                    <div class="search-fields row">
                        <div class="col-6 location-field">
                            <select class="select-location">
                                <option value="">Search Location</option>
                            </select>
                            <div class="add-location">
                                <svg width="7" height="7" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 0.75C5.65747 0.75 5.8085 0.812556 5.91985 0.923905C6.03119 1.03526 6.09375 1.18628 6.09375 1.34375V4.90625H9.65625C9.81372 4.90625 9.96475 4.96881 10.0761 5.08016C10.1874 5.1915 10.25 5.34253 10.25 5.5C10.25 5.65747 10.1874 5.8085 10.0761 5.91985C9.96475 6.03119 9.81372 6.09375 9.65625 6.09375H6.09375V9.65625C6.09375 9.81372 6.03119 9.96475 5.91985 10.0761C5.8085 10.1874 5.65747 10.25 5.5 10.25C5.34253 10.25 5.1915 10.1874 5.08016 10.0761C4.96881 9.96475 4.90625 9.81372 4.90625 9.65625V6.09375H1.34375C1.18628 6.09375 1.03526 6.03119 0.923905 5.91985C0.812556 5.8085 0.75 5.65747 0.75 5.5C0.75 5.34253 0.812556 5.1915 0.923905 5.08016C1.03526 4.96881 1.18628 4.90625 1.34375 4.90625H4.90625V1.34375C4.90625 1.18628 4.96881 1.03526 5.08016 0.923905C5.1915 0.812556 5.34253 0.75 5.5 0.75Z" fill="#FF006B"/>
                                </svg>
                            </div>
                        </div>
                        <div class="col-6 product-field">
                            <select class="select-product">
                                <option value="">Search Product</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-search">Search</button>
                </div>
            </div>
            <div class="tab-pane fade" id="agent" role="tabpanel" aria-labelledby="agent-tab">
                <div class="row">
                    <div class="search-fields">
                        <div class="col-12 address-field">
                            <select class="select-address">
                                <option value="">Enter Your Address</option>
                            </select>
                            <div class="add-location">
                                <svg width="7" height="7" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 0.75C5.65747 0.75 5.8085 0.812556 5.91985 0.923905C6.03119 1.03526 6.09375 1.18628 6.09375 1.34375V4.90625H9.65625C9.81372 4.90625 9.96475 4.96881 10.0761 5.08016C10.1874 5.1915 10.25 5.34253 10.25 5.5C10.25 5.65747 10.1874 5.8085 10.0761 5.91985C9.96475 6.03119 9.81372 6.09375 9.65625 6.09375H6.09375V9.65625C6.09375 9.81372 6.03119 9.96475 5.91985 10.0761C5.8085 10.1874 5.65747 10.25 5.5 10.25C5.34253 10.25 5.1915 10.1874 5.08016 10.0761C4.96881 9.96475 4.90625 9.81372 4.90625 9.65625V6.09375H1.34375C1.18628 6.09375 1.03526 6.03119 0.923905 5.91985C0.812556 5.8085 0.75 5.65747 0.75 5.5C0.75 5.34253 0.812556 5.1915 0.923905 5.08016C1.03526 4.96881 1.18628 4.90625 1.34375 4.90625H4.90625V1.34375C4.90625 1.18628 4.96881 1.03526 5.08016 0.923905C5.1915 0.812556 5.34253 0.75 5.5 0.75Z" fill="#FF006B"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-search">Estimate</button>
                </div>
            </div>
            <div class="tab-pane fade" id="tool" role="tabpanel" aria-labelledby="tool-tab">
                <div class="row">
                    <div class="search-fields row">
                        <div class="col-6 location-field">
                            <select class="select-location">
                                <option value="">Search Location</option>
                            </select>
                            <div class="add-location">
                                <svg width="7" height="7" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 0.75C5.65747 0.75 5.8085 0.812556 5.91985 0.923905C6.03119 1.03526 6.09375 1.18628 6.09375 1.34375V4.90625H9.65625C9.81372 4.90625 9.96475 4.96881 10.0761 5.08016C10.1874 5.1915 10.25 5.34253 10.25 5.5C10.25 5.65747 10.1874 5.8085 10.0761 5.91985C9.96475 6.03119 9.81372 6.09375 9.65625 6.09375H6.09375V9.65625C6.09375 9.81372 6.03119 9.96475 5.91985 10.0761C5.8085 10.1874 5.65747 10.25 5.5 10.25C5.34253 10.25 5.1915 10.1874 5.08016 10.0761C4.96881 9.96475 4.90625 9.81372 4.90625 9.65625V6.09375H1.34375C1.18628 6.09375 1.03526 6.03119 0.923905 5.91985C0.812556 5.8085 0.75 5.65747 0.75 5.5C0.75 5.34253 0.812556 5.1915 0.923905 5.08016C1.03526 4.96881 1.18628 4.90625 1.34375 4.90625H4.90625V1.34375C4.90625 1.18628 4.96881 1.03526 5.08016 0.923905C5.1915 0.812556 5.34253 0.75 5.5 0.75Z" fill="#FF006B"/>
                                </svg>
                            </div>
                        </div>
                        <div class="col-6 product-field">
                            <select class="select-product">
                                <option value="">Search Product</option>
                            </select>
                        </div>
                    </div>
                    <button class="btn btn-search">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>
@* <div class="intro intro-carousel swiper position-relative">

    <div class="swiper-wrapper">
        @for (int i=0; i<3; i++)
        {
            <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(/images/homepage/property0.svg)">
                <div class="overlay overlay-a"></div>
                <div class="intro-content display-table">
                    <div class="table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="intro-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="swiper-pagination"></div>
    </div> *@