<div class="product-categories">
    <div class="container">
        <div class="introduction-product-categories">
            <div class="title-box">
                <h4 class="title">Shop By Product Catogries</h4>
            </div>
            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="category-list">
            <div class="first-category-list row">
                <div class="col-6 one-column">
                    <div class="medium-item">
                        <div class="text">
                            <div class="title">Furniture</div>
                            <div class="product-count">+800 Products</div>
                        </div>
                        <img class="d-block w-100 h-100" src="/images/category/furniture.svg">
                    </div>
                </div>
                <div class="col-6 row two-column">
                    <div class="col-6">
                        <div class="small-item light-background">
                            <div class="text">
                                <div class="title">Lighting</div>
                                <div class="product-count">+800 Products</div>
                            </div>
                            <img class="d-block" src="/images/category/lighting.svg">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="small-item kitchen-background">
                            <div class="text">
                                <div class="title">Kitchen & Appliances</div>
                                <div class="product-count">+800 Products</div>
                            </div>
                            <img class="d-block" src="/images/category/kitchen.svg">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="second-category-list row">
                <div class="col-6 row two-column">
                    <div class="col-6">
                        <div class="small-item construction-background">
                            <div class="text">
                                <div class="title">Construction</div>
                                <div class="product-count">+800 Products</div>
                            </div>
                            <img class="d-block" src="/images/category/construction.svg">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="small-item wellness-background">
                            <div class="text">
                                <div class="title">Wellness</div>
                                <div class="product-count">+800 Products</div>
                            </div>
                            <img class="d-block" src="/images/category/wellness.svg">
                        </div>
                    </div>
                    @* <div class="col-6 small-item construction-background">
                        <div class="text">
                            <div class="title">Construction</div>
                            <div class="product-count">+800 Products</div>
                        </div>
                        <img class="d-block" src="/images/category/construction.svg">
                    </div>
                    <div class="col-6 small-item wellness-background">
                        <div class="text">
                            <div class="title">Wellness</div>
                            <div class="product-count">+800 Products</div>
                        </div>
                        <img class="d-block" src="/images/category/wellness.svg">
                    </div> *@
                </div>
            <div class="col-6 one-column">
                    <div class="medium-item">
                        <div class="text">
                            <div class="title">Bathroom & Plumbing</div>
                            <div class="product-count">+800 Products</div>
                        </div>
                        <img class="d-block w-100 h-100" src="/images/category/bathroom.svg">
                    </div>
                </div>
            </div>

            <div class="view-all">
                <button class="">VIEW ALL</button>
            </div>
            
        </div>
    </div>
</div>