<div class="discover-feature-listing">
    <div class="container">
        <div class="finest-properties-info">
            <div class="title">Discover Our Feature Listing</div>
        </div>
        <div class="discover-feature-listing-list row">
            <div class="col-4 left-column">
                <div class="feature-item text-content">
                    <div class="title">Residential</div>
                    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's standard Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
                <div class="feature-item image-text-content">
                    <div class="image">
                        <img src="/images/homepage/discover-feature-item.svg" />
                    </div>
                    <div class="overlay">
                        <div class="property-count">7 Properties</div>
                        <div class="title">Single Family Home</div>
                    </div>
                </div>
                <div class="feature-item image-text-content">
                    <div class="image">
                         <img src="/images/homepage/discover-feature-item.svg" />
                    </div>
                    <div class="overlay">
                        <div class="property-count">7 Properties</div>
                        <div class="title">Single Family Home</div>
                        <div class="row">
                            <div class="col-6 detail">MORE DETAILS</div>
                            <div class="col-6 play-video"><i class="bi bi-play-circle-fill"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 center-column">
                <img src="/images/homepage/discover-feature-center.svg" />
                <div class="overlay">
                    <div class="property-count">7 Properties</div>
                    <div class="title">Single Family Home</div>
                    <div class="row">
                        <div class="col-6 detail">MORE DETAILS</div>
                        <div class="col-6 play-video"><i class="bi bi-play-circle-fill"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-4 right-column">
                <div class="feature-item image-text-content">
                    <div class="image">
                         <img src="/images/homepage/discover-feature-item.svg" />
                    </div>
                    <div class="overlay">
                        <div class="property-count">7 Properties</div>
                        <div class="title">Single Family Home</div>
                        <div class="row">
                            <div class="col-6 detail">MORE DETAILS</div>
                            <div class="col-6 play-video"><i class="bi bi-play-circle-fill"></i></div>
                        </div>
                    </div>
                </div>
                <div class="feature-item image-text-content">
                    <div class="image">
                         <img src="/images/homepage/discover-feature-item.svg" />
                    </div>
                    <div class="overlay">
                        <div class="property-count">7 Properties</div>
                        <div class="title">Single Family Home</div>
                        <div class="row">
                            <div class="col-6 detail">MORE DETAILS</div>
                            <div class="col-6 play-video"><i class="bi bi-play-circle-fill"></i></div>
                        </div>
                    </div>
                </div>
                <div class="feature-item text-content">
                    <div class="title">Residential</div>
                    <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's standard Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                </div>
            </div>
        </div>
    </div>
</div>