<div class="introduction">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 introduction-item">
                <div class="image">
                    <img class="" src="/images/introduction/ellipse.svg">
                    <img class="" src="/images/introduction/discount.svg">
                </div>
                <div class="title">10% Discount</div>
                <div class="description">On Every Order Over $140.00</div>
            </div>
        </div>
        <div class="col">
            <div class="p-3 introduction-item">
                <div class="image">
                    <img class="" src="/images/introduction/ellipse.svg">
                    <img class="d-block" src="/images/introduction/security.svg">
                </div>
                <div class="title">Security Payment</div>
                <div class="description">Been The Industry Standard</div>
            </div>
        </div>
        <div class="col">
            <div class="p-3 introduction-item">
                <div class="image">
                    <img class="" src="/images/introduction/ellipse.svg">
                    <img class="d-block" src="/images/introduction/support.svg">
                </div>
                <div class="title">Live Support</div>
                <div class="description">Live Support Solution</div>
            </div>
        </div>
        <div class="col">
            <div class="p-3 introduction-item">
                <div class="image">
                    <img class="" src="/images/introduction/ellipse.svg">
                    <img class="d-block" src="/images/introduction/service.svg">
                </div>
                <div class="title">24/7 Service</div>
                <div class="description">24/7 Hours Service Provider</div>
            </div>
        </div>
  </div>
</div>