@{
    var featuredProduct = ViewBag.featuredProduct as List<SimaxCrm.Model.Entity.Product>;
}


 <!-- ======= Latest Properties Section ======= -->
    <section class="section-property section-t8">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-wrap d-flex justify-content-between">
              <div class="title-box">
                <h2 class="title-a">Latest Properties</h2>
              </div>
              <div class="title-link">
                <a asp-controller="properties" asp-action="list">All Property
                  <span class="bi bi-chevron-right"></span>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div id="property-carousel" class="swiper">
          <div class="swiper-wrapper">

               @foreach (var item in featuredProduct)
                {
                      <partial name="_Property" model="item" />                   
                }          
          
          </div>
           <div class="propery-carousel-pagination carousel-pagination"></div>
        </div>
       

      </div>
    </section><!-- End Latest Properties Section -->
