<div class="modules">
    <div class="container">
        <div class="modules-info">
            <div class="title">What We Do</div>
            <div class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>
        </div>
        <div class="module-list row">
            <div class="col-4 left-column">
                <div class="module-item">
                    <div class="row">
                        <div class="first-letter">E</div>
                        <div class="title">ESIGN COFFE FURNITURE</div>
                    </div>
                    <div class="description">Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the industry's</div>
                </div>
                <div class="module-item">
                    <div class="row">
                        <div class="first-letter">H</div>
                        <div class="title">ANMADE STORE</div>
                    </div>
                    <div class="description">Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the industry's</div>
                </div>
                <div class="module-item">
                    <div class="row">
                        <div class="first-letter">B</div>
                        <div class="title">OOK ROOM FURNITURE</div>
                    </div>
                    <div class="description">Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the industry's</div>
                </div>
            </div>
            <div class="col-4 center-column">
                <img src="/images/module.svg" />
            </div>
            <div class="col-4 right-column">
                <div class="module-item">
                    <div class="row">
                        <div class="first-letter">D</div>
                        <div class="title">INING RROM</div>
                    </div>
                    <div class="description">Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the industry's</div>
                </div>
                <div class="module-item">
                    <div class="row">
                        <div class="first-letter">B</div>
                        <div class="title">ED ROOM</div>
                    </div>
                    <div class="description">Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the industry's</div>
                </div>
                <div class="module-item">
                    <div class="row">
                        <div class="first-letter">M</div>
                        <div class="title">AKEUP ROOM</div>
                    </div>
                    <div class="description">Lorem Ipsum is simply dummy text of the print ing and typesetting industry. Lorem Ipsum has been the industry's</div>
                </div>
            </div>
        </div>
    </div>
</div>