<div class="new-builds">
    <div class="container row">
        <div class="image-column">
            <div class="rectangle"></div>
            <img src="/images/homepage/newbuild.svg" />
        </div>
        <div class="text-column">
            <div class="title">New Builds For Sale</div>
            <div class="description">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
                has been the industry's standard Lorem Ipsum is simply dummy text of the printing and typ
                esetting industry.</p>
                <p>dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
                standard Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has.</p>
                <p>printing and typesetting industry. Lorem Ipsum has been the industry's standard Lorem 
                Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
                the industry's standard simply dummy text of the printing and typesetting industry.</p>
            </div>
            <div class="">
                <button class="button btn-register">REGISTER NOW</button>
            </div>
        </div>
    </div>
</div>