<div class="search-all-home">
    <div class="container">
        <div class="col-6">
            <div class="title">Search Through All Home For Sale In Switzerland</div>
            <div class="description">Villas & Houses For Sale. Luxury Homes, Chalets, Studies & Apartmentd For Sale</div>
        </div>
        <div class="home-list">
            <div class="row gy-2">
                <div class="owl-carousel search-all-carousel">
                    @for (int i=0; i<6; i++)
                    {
                        <div class="item home-item">
                            <div class="overlay">
                                <div class="name">Zurich</div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>