<div class="top-products">
    <div class="container">
        <div class="top-products-info">
            <h4 class="title">Our Top Products</h4>
            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div>
        </div>
        <div class="product-list">
            <div class="row">
                <div class="col-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img class="icon d-block" src="/images/introduction/icon.svg">
                            <img class="d-block w-100" src="/images/introduction/product.svg">
                        </div>
                        <div class="category-name">MARIONI</div>
                        <div class="product-name">Curved Fabric Sofa</div>
                        <div class="product-price">$56,890</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img class="icon d-block" src="/images/introduction/icon.svg">
                            <img class="d-block w-100" src="/images/introduction/product.svg">
                        </div>
                        <div class="category-name">MARIONI</div>
                        <div class="product-name">Curved Fabric Sofa</div>
                        <div class="product-price">$56,890</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img class="icon d-block" src="/images/introduction/icon.svg">
                            <img class="d-block w-100" src="/images/introduction/product.svg">
                        </div>
                        <div class="category-name">MARIONI</div>
                        <div class="product-name">Curved Fabric Sofa</div>
                        <div class="product-price">$56,890</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img class="icon d-block" src="/images/introduction/icon.svg">
                            <img class="d-block w-100" src="/images/introduction/product.svg">
                        </div>
                        <div class="category-name">MARIONI</div>
                        <div class="product-name">Curved Fabric Sofa</div>
                        <div class="product-price">$56,890</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img class="icon d-block" src="/images/introduction/icon.svg">
                            <img class="d-block w-100" src="/images/introduction/product.svg">
                        </div>
                        <div class="category-name">MARIONI</div>
                        <div class="product-name">Curved Fabric Sofa</div>
                        <div class="product-price">$56,890</div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="product-item">
                        <div class="product-image">
                            <img class="icon d-block" src="/images/introduction/icon.svg">
                            <img class="d-block w-100" src="/images/introduction/product.svg">
                        </div>
                        <div class="category-name">MARIONI</div>
                        <div class="product-name">Curved Fabric Sofa</div>
                        <div class="product-price">$56,890</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="paging row justify-content-center">
            <button class="btn-paging prev">
                <svg width="6" height="9" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.1313 2.71056L4.34185 8.50004L10.1313 14.2895L8.97343 16.6053L0.868164 8.50004L8.97343 0.394775L10.1313 2.71056Z" fill="white"></path>
                </svg>
            </button>
            <button class="btn-paging next">
                <svg width="6" height="9" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.868678 2.71056L6.65815 8.50004L0.868678 14.2895L2.02657 16.6053L10.1318 8.50004L2.02657 0.394775L0.868678 2.71056Z" fill="white"/>
                </svg>
            </button>
        </div>
    </div>
</div>