@using Microsoft.AspNetCore.Identity
@inject UserManager<SimaxCrm.Model.Entity.ApplicationUser> UserManager
@using Newtonsoft.Json;
@using SimaxCrm.Model.Entity;
@using SimaxCrm.Model.RequestModel;

<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                <i class="nav-icon icon-speedometer"></i> Dashboard
            </a>
        </li>

        @{
            var checkAdmin = this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin) || 
                    this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.CompanyAdmin) ||
                    this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.BranchAdmin);
            var userId = this.Context.Request.GetUserId();
            ApplicationUser user = UserManager.Users.Where(u => u.Id == userId).FirstOrDefault();
            var permissions = user.Permissions != null ? JsonConvert.DeserializeObject<Permissions>(user.Permissions) : null;
        }
        
        @if (!this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin))
        {
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-call-in"></i>
                    Manage Lead
                </a>
                <ul class="nav-dropdown-items">
                    @if (permissions != null && permissions.LeadPermissions != null)
                    {
                        @if (permissions.LeadPermissions.Contains("create") || permissions.LeadPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="Lead" asp-action="Create">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Create Lead
                                </a>
                            </li>
                        }
                        @if (permissions.LeadPermissions.Contains("followup-global") || permissions.LeadPermissions.Contains("followup-own") 
                            || permissions.LeadPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="FollowUp">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Today Follow Up
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="MissedFollowUp">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Missed Follow Up
                                </a>
                            </li>
                        }
                        @if (permissions.LeadPermissions.Contains("followup-own") || permissions.LeadPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="AllFollowUp">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> My Follow Up
                                </a>
                            </li>
                        }
                        @if (permissions.LeadPermissions.Contains("view-global") || permissions.LeadPermissions.Contains("view-own") ||
                                permissions.LeadPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="Converted">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Converted
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="Postpone">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Postpone
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="Reopen">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Reopen
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="Closed">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Closed
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="Surrender">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Surrender
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="AllLead">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> All Leads
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Leads" asp-route-id="Deleted">
                                    <i class="fa fa-arrow-right"></i> Deleted Leads
                                </a>
                            </li>
                        }
                    }
                    

                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-call-in"></i>
                    Manage Inventory
                </a>
                <ul class="nav-dropdown-items">
                    @if (permissions != null && permissions.InventoryPermissions != null)
                    {
                       @if (permissions.InventoryPermissions.Contains("create") || permissions.InventoryPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="Project" asp-action="Create">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Project Create
                                </a>
                            </li>
                        }
                        @if (permissions.InventoryPermissions.Contains("view-global") || permissions.InventoryPermissions.Contains("view-own") 
                                || permissions.LeadPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="Project" asp-action="Index">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> All Projects
                                </a>
                            </li>
                        }
                        @if (permissions.InventoryPermissions.Contains("create") || permissions.InventoryPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Create">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Inventory Create
                                </a>
                            </li>
                        }
                        @if (permissions.InventoryPermissions.Contains("view-global") || permissions.InventoryPermissions.Contains("view-own") 
                                || permissions.InventoryPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Products" asp-route-id="AllProduct">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> All Inventory
                                </a>
                            </li>
                        }
                        @if (permissions.InventoryPermissions.Contains("followup-global") || permissions.InventoryPermissions.Contains("followup-own") 
                                || permissions.InventoryPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Products" asp-route-id="ProductFollowUp">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Today Follow Up
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Products" asp-route-id="ProductMissedFollowUp">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Missed Follow Up
                                </a>
                            </li>
                        }
                        @if (permissions.InventoryPermissions.Contains("followup-own") || permissions.InventoryPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Products" asp-route-id="ProductMyFollowUp">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> My Follow Up
                                </a>
                            </li>
                        }
                        @if (permissions.InventoryPermissions.Contains("view-global") || permissions.InventoryPermissions.Contains("view-own") 
                                || permissions.InventoryPermissions.Contains("all"))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="View" asp-action="Products" asp-route-id="Soldout">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Soldout Property
                                </a>
                            </li> 
                        }
                        
                    }
                    
                </ul>
            </li>
        }
        

        @if (this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin))
        {

            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="UploadCategory" asp-action="Index">
                    <i class="nav-icon icon-home"></i> Upload Category
                </a>
            </li>
        }

       
        <li class="nav-item">
            <a class="nav-link" asp-area="Admin" asp-controller="TempLead" asp-action="Index">
                <i class="nav-icon icon-home"></i> Cold Calling
            </a>
        </li>
       

       


        @if (this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin) )
        {

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-tag"></i>
                    Manage Tags
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="LeadTag" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Lead Tag
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="InventoryTag" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Inventory Tag
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="LeadSource" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Lead Source
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="LeadRemarks" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Lead Remarks
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="LeadType" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Leadtype
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="City" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> City
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Category
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="SubCategory" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> SubCategory
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Location" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Sector/Location
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Society" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Building/Society
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Slider" asp-action="Index">
                            <i class="fa fa-arrow-right"></i> Slider
                        </a>
                    </li>
                </ul>
            </li>


            @if (this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Message" asp-action="Index">
                        <i class="nav-icon icon-screen-desktop"></i> Broadcast Message
                    </a>
                </li>
            }

            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-tag"></i>
                    Emails
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="EmailSetup" asp-action="New">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> New Email
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="EmailSetup" asp-action="Inbox">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Inbox
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="EmailSetup" asp-action="Sent">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Sent Items
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="EmailSetup" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Email Setup
                        </a>
                    </li>
                </ul>
            </li>


            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-tag"></i>
                    Reports
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Report" asp-action="LeadSummary">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Lead Summary
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Report" asp-action="LeadSummarySourceWise">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Lead Summary Source Wise
                        </a>
                    </li>
                </ul>
            </li>

           
        }
        <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#">
                <i class="nav-icon icon-tag"></i>
                Setup
            </a>
            <ul class="nav-dropdown-items">
                @if (this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin) )
                {
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Company" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Manage Company
                        </a>
                    </li>
                } 
                @if (this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.CompanyAdmin) || 
                    this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.BranchAdmin))
                {
                    <li class="nav-item ">  
                        <a class="nav-link" asp-area="Admin" asp-controller="ContentHomepage" asp-action="Homepage">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> Manage Home Page
                        </a>
                    </li>
                }
                @if (permissions != null && permissions.SetupPermissions != null && (permissions.SetupPermissions.Contains("view-global")
                        || permissions.SetupPermissions.Contains("view-own") || permissions.SetupPermissions.Contains("all")))
                {
                    <li class="nav-item ">
                        <a class="nav-link" asp-area="Admin" asp-controller="Seo" asp-action="Index">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i> SEO
                        </a>
                    </li>
                }
                @if (this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin) || (permissions != null && permissions.SetupPermissions != null))
                {
                    @if (!this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin) && 
                        (permissions.SetupPermissions.Contains("create") || permissions.SetupPermissions.Contains("all")))
                    {
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Create">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Create User
                            </a>
                        </li>
                    } 
                    @if (this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin) || (permissions.SetupPermissions.Contains("view-global")
                        || permissions.SetupPermissions.Contains("view-own") || permissions.SetupPermissions.Contains("all")))
                    {
                        <li class="nav-item ">
                            <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i> Manage Users
                            </a>
                        </li>
                        @if(!this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.Admin))
                        {
                            <li class="nav-item ">
                                <a class="nav-link" asp-area="Admin" asp-controller="EmailSetup" asp-action="Index">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i> Email Setup
                                </a>
                            </li>
                        }
                    }
                }
                
                <li class="nav-item ">
                    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="ResetInit">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i> Password Reset
                    </a>
                </li>
            </ul>
        </li>

        @if (this.Context.Request.UserIsRole(SimaxCrm.Model.Enum.UserType.QA) || checkAdmin)
        {
            @* <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-controller="LeadAutoAssign" asp-action="Index">
                    <i class="nav-icon icon-layers"></i> Lead Auto Assign
                </a>
            </li> *@

        }

    </ul>
</nav>
